<div {{action 'toggle'}} class="layer-menu-item-title" role="button">
  <div class="switch tiny float-left">
    <input class="switch-input" type="checkbox" checked={{if active 'checked'}}>
    <label class="switch-paddle">
      <span class="show-for-sr">Toggle Layer Group</span>
    </label>
  </div>
  {{title}}
</div>
{{#if active}}
  <div class="layer-menu-item-content">
    {{yield}}
  </div>
{{/if}}
