---
language: node_js
node_js:
  - "6"

sudo: false
dist: trusty

addons:
  firefox: latest
  chrome: stable

cache:
  yarn: true

env:
  global:
    # See https://git.io/vdao3 for details.
    - JOBS=1

install:
  - yarn install --pure-lockfile

script:
  - yarn lint:hbs
  - yarn lint:js
  - yarn test
