<ul class="legend no-bullet">
  {{#each model.items as |legendItem|}}
    <li class="legend-item">
      {{component (concat 'labs-map-legend-' legendItem.type) 
        style=legendItem.style}}
      {{legendItem.label}}
      {{info-tooltip 
        tip="A street that has been established on an adopted alteration map or section map and filed with the appropriate agencies"}}
    </li>
  {{/each}}
</ul>

{{yield}}
