<div class="content-close-button-container">
  {{link-to '×' 'application' click=(action (mut closed) true) class="content-close-button"}}
</div>
<div class="content-area cell large-5 large-order-3 xxlarge-4">

  <h1 class="header-xlarge">Welcome to NYC Street Map</h1>

  <p class="lead">NYC Street Map combines the 8000+ components of the official City Map with other street information into a seamless Citywide map that shows the status and history of New York City’s streets</p>

  <p class="text-small">The City Map is the official street map of the City of New York City, showing streets and other public places.  NYC Street Map is an ongoing effort to digitize the City Map, bring it together with other street information and make it easily accessible to the public. With this app, you can find the official mapped width, name, and status of specific streets and how they may relate to specific properties.  You can also see how the street grid has changed over time in your area.</p>

  <p class="lead"><strong>{{#link-to 'city-map'}}Learn more about the official City Map&hellip;{{/link-to}}</strong></p>

  <hr>

  <p>NYC Street Map does not yet include all the information contained on the City Map. As more information becomes electronically available, NYC Street Map will be updated. This app currently provides the following information:</p>

  <ul>
    <li>Boundaries of mapped and unmapped streets</li>
    <li>Official names of streets</li>
    <li>Mapped street widths <small>(usually includes sidewalks)</small></li>
    <li>Alteration maps showing approved changes to the City Map since 1938 <small>(In some areas, maps are available that show changes which have been approved by the City Planning Commission and City Council, but have not yet taken effect.)</small></li>
    <li>Street and place names established by local law</li>
  </ul>

  <p>This street information has never been so easy to access, but NYC Street Map is only a starting point for research about the City’s streets. It lacks some information on the City Map and may have inaccuracies.  All information gathered from NYC Street Map must be confirmed based on the official City Map records.</p>

  {{outlet}}
</div>
