<div class="content-close-button-container">
  {{link-to '×' 'application' click=(action (mut closed) true) class="content-close-button"}}
</div>
<div class="content-area cell large-5 large-order-3 xxlarge-4">

  <h1>What is NYC Street Map?</h1>

  <p>NYC Street Map combines the 8000+ components of the official City Map with other street information into a seamless citywide map.  NYC Street Map does not yet include all the information contained on the City Map.  As more information becomes electronically available, NYC Street Map will be updated.  This app currently provides the following information:</p>

  <ul>
    <li>Boundaries of mapped and unmapped streets</li>
    <li>Official names of streets</li>
    <li>Mapped street widths (usually includes sidewalks).</li>
    <li>Alteration maps showing approved changes to the City Map since 1938.  Click [here](-link to annotated alteration map) to learn more about alteration maps.  In some areas, maps are available that show changes which have been approved by the City Planning Commission and City Council, but have not yet taken effect.</li>
    <li>Street and place names established by local law.</li>
  </ul>

  <p>This street information has never been so easy to access, but NYC Street Map should be only a starting point for research about the City’s streets.  It lacks some information on the City Map and may have inaccuracies.  All information gathered from NYC Street Map must be confirmed based on the official City Map records.</p>

  {{outlet}}
</div>
