<div class="content-close-button-container">
  {{link-to "×" "application" click=(action (mut closed) true) class="content-close-button"}}
</div>
<div class="content-area cell large-5 large-order-3 xxlarge-4">

  <h1 class="header-xlarge no-margin">Welcome to NYC&nbsp;Street&nbsp;Map</h1>
  <p class="text-small">Read the <a href="https://www1.nyc.gov/site/planning/data-maps/disclaimer-web-based-products.page" target="_blank" rel="noopener">disclaimer</a> and view the {{link-to "data sources" "data"}}.</p>

  <p class="lead">NYC Street Map is an ongoing effort to digitize official street records, bring them together with other street information, and make them easily accessible to the public. With this app, you can find the official mapped width, name, and status of specific streets and how they may relate to specific properties. You can also see how the street grid has changed over time in your area.</p>

  <hr>

  <p>NYC Street Map combines 8000+ components of the official City Map with other street information into a seamless Citywide map. However, this app does not contain all the information on the City Map, may have inaccuracies, and must be confirmed by the official City Map records. <br>{{#link-to "city-map"}}Learn more about the official City Map&hellip;{{/link-to}}</p>

  <hr>

  <h4 class="small-margin-bottom">How to find alterations</h4>
  <p>You can search for an address, street name, alteration number (e.g. cp21423), or ULURP number (e.g. 841080mmk) to easily locate them on this map. Search results only include ULURP numbers or alteration numbers relevant to official street records. You can find ULURP numbers associated with zoning change projects in <a href="https://zap.planning.nyc.gov/projects" target="_blank" rel="noopener noreferrer">ZAP Search application</a>.</p>

  {{outlet}}

</div>
