{{labs-site-header}}
<div class="site-main grid-x">

  <div class="search-container">
  </div>

  <div class="map-container cell medium-auto large-order-2">
    {{main-map
      id='main-map'
      model=model
      initOptions=(hash style='//raw.githubusercontent.com/NYCPlanning/labs-gl-style/master/data/style.json'
                    zoom=10
                    center=(array -74.1197636 40.6976637)
                    hash=true)
      mapLoaded=(action 'handleMapLoad')
    }}
  </div>

  <div class="layer-menu cell large-order-1">
    {{#accordion-menu title='City Map Layers'}}
      {{#lookup-layer-group for='amendments' as |amendments|}}
        {{#layer-menu-item
          title=amendments.model.title
          active=amendments.model.visible}}
          Layer
        {{/layer-menu-item}}
      {{/lookup-layer-group}}
    {{/accordion-menu}}

    {{#accordion-menu title='Other Layers' open=false}}
      {{#lookup-layer-group for='arterials' as |arterials|}}
        {{#layer-menu-item
          title=arterials.model.title
          active=arterials.model.visible}}
          Layer
        {{/layer-menu-item}}
      {{/lookup-layer-group}}
    {{/accordion-menu}}
  </div>

  <div class="content-close-button-container">
    <button class="content-close-button">×</button>
  </div>
  <div class="content-area cell large-5 large-order-3 xxlarge-4">
    {{outlet}}
  </div>
</div>
