{{labs-site-header}}

<div class="site-main grid-x">

  <div class="search-container">
  </div>

  <div class="map-container cell medium-auto large-order-2">
    {{mapbox-gl
      id='main-map'
      initOptions=(hash style='//raw.githubusercontent.com/NYCPlanning/labs-gl-style/master/data/style.json'
                        zoom=9.7
                        center=(array 40.712 -73.9022))}}
  </div>

  <div class="layer-menu cell medium-3 large-order-1">
    {{#accordion-menu title='City Map Layers'}}
      {{#layer-menu-item title='Foo'}}
        hi
      {{/layer-menu-item}}
    {{/accordion-menu}}
    {{#accordion-menu title='Other Layers' open=false}}
      {{#layer-menu-item title='Foo'}}
        hi
      {{/layer-menu-item}}
    {{/accordion-menu}}
  </div>

  <div class="content-close-button"></div>
  <div class="content-area cell large-4 large-order-3">
    {{outlet}}
  </div>
</div>
