{{labs-site-header}}
<div class="site-main grid-x">

  <div class="search-container">
  </div>

  <div class="map-container cell medium-auto large-order-2">
    {{#main-map
      id='main-map'
      initOptions=initMapOptions
      mapLoaded=(action 'handleMapLoad') as |map|}}
      {{map.labs-layers
        model=model
        onLayerClick=(action 'handleLayerClick')}}
    {{/main-map}}
  </div>

  <div class="layer-menu cell large-order-1">
    {{!-- City Map Layers --}}
    {{#accordion-menu title='City Map Layers'}}
      {{#lookup-layer-group for='citymap' as |layerGroup|}}
        {{#layer-menu-item
          title=layerGroup.model.title
          active=layerGroup.model.visible}}
        {{/layer-menu-item}}
      {{/lookup-layer-group}}

      {{#lookup-layer-group for='street-centerlines' as |layerGroup|}}
        {{#layer-menu-item
          title=layerGroup.model.title
          active=layerGroup.model.visible}}
        {{/layer-menu-item}}
      {{/lookup-layer-group}}

      {{#lookup-layer-group for='pierhead-bulkhead-lines' as |layerGroup|}}
        {{#layer-menu-item
          title=layerGroup.model.title
          active=layerGroup.model.visible}}
        {{/layer-menu-item}}
      {{/lookup-layer-group}}

      {{#lookup-layer-group for='arterials' as |layerGroup|}}
        {{#layer-menu-item
          title=layerGroup.model.title
          active=layerGroup.model.visible}}
        {{/layer-menu-item}}
      {{/lookup-layer-group}}

      {{#lookup-layer-group for='amendments' as |layerGroup|}}
        {{#layer-menu-item
          title=layerGroup.model.title
          active=amendments}}
        {{/layer-menu-item}}
      {{/lookup-layer-group}}
      {{#lookup-layer-group for='name-changes' as |layerGroup|}}
        {{#layer-menu-item
          title=layerGroup.model.title
          active=layerGroup.model.visible}}
        {{/layer-menu-item}}
      {{/lookup-layer-group}}
    {{/accordion-menu}}

    {{!-- Other Layers --}}
    {{#accordion-menu title='Other Layers' open=false}}
      {{#lookup-layer-group for='zoning-districts' as |layerGroup|}}
        {{#layer-menu-item
          title=layerGroup.model.title
          active=layerGroup.model.visible}}
        {{/layer-menu-item}}
      {{/lookup-layer-group}}
    {{/accordion-menu}}
  </div>

  {{outlet}}

</div>
