{{labs-site-header}}

<div class="site-main grid-x">

  <div class="search-container">
  </div>

  <div class="map-container cell medium-auto large-order-2">
    {{main-map}}
  </div>

  <div class="layer-menu cell medium-3 large-order-1">
    {{#accordion-menu title='City Map Layers'}}
      {{#layer-menu-item title='Foo'}}
        hi
      {{/layer-menu-item}}
    {{/accordion-menu}}
    {{#accordion-menu title='Other Layers' open=false}}
      {{#layer-menu-item title='Foo'}}
        hi
      {{/layer-menu-item}}
    {{/accordion-menu}}
  </div>

  <div class="content-close-button"></div>
  <div class="content-area cell large-4 large-order-3">
    {{outlet}}
  </div>
</div>
