<div class="content-close-button-container">
  {{link-to "×" "application" click=(action (mut closed) true) class="content-close-button"}}
</div>
<div class="content-area cell large-5 large-order-3 xxlarge-4">

  <h1 class="header-xlarge">What is the City Map of the City of New&nbsp;York?</h1>

  <p>The City Map is the official street map of the City of New York. New York is an old city whose current boundaries were created by the consolidation of the five boroughs in 1898. A unified City Map of all five boroughs was never adopted, so today the City Map consists of 5 different sets of maps, one for each borough, totaling over 8000 individual paper maps.</p>

  <p>Each borough is divided into a separate set of Section Maps that covers every block. Over time, changes have been made to the City Map. Some streets on the Section Maps have been closed or changed, or new streets have been mapped. As these changes are approved, Alteration Maps are prepared to illustrate them. Together, adopted Section Maps and Alteration Maps constitute the City Map and document the current status of the streets in the City.</p>

  <p>Changes to the City Map are made through the City’s <a target="_blank" rel="noopener" href="https://www1.nyc.gov/site/planning/applicants/applicant-portal/step5-ulurp-process.page"><strong>Uniform Land Use Review Procedure</strong> (ULURP)<sup>{{fa-icon "external-link"}}</sup></a>. ULURP requires referral to local Community Boards and Borough Presidents, and approval by the City Planning Commission and the City Council. This is a thorough and long process that ensures community input.</p>


  <h3>What information is on the City&nbsp;Map?</h3>

  <p>The Section maps and Alteration maps making up the City Map include several types of basic information that provide the location and dimensions of streets and public places, as shown on this diagram:</p>

  <figure>
    <a class="figure-link" target="_blank" rel="noopener" href="/img/annotated-alteration-map.gif">
      <img src="/img/annotated-alteration-map.gif" alt="Annotated Alteration Map">
      <figcaption>portion of an alteration map with annotations defining Street lines, Park boundary, Mapped street width, Block dimensions, Block angles, Grades and slopes, Treatment lines</figcaption>
    </a>
  </figure>

  <p>These locations and dimensions may not exactly match the built condition. Some streets are built narrower than their mapped width, with unimproved areas on the sides. Some streets were mapped but never built out. (These are called Paper Streets because they only exist on paper). The mapped boundaries of a street are an important factor in determining the development potential of a property. These boundary lines also shed light on where the City is going, and the history of where it’s been.</p>

  <p>Alteration maps document changes to the City Map. They can tell a story about the history of a place, showing old streets, and boundaries and indicate when new streets were mapped.</p>

  {{outlet}}
</div>
