<div class="content-close-button-container">
  {{link-to "×" "application" click=(action (mut closed) true) class="content-close-button"}}
</div>
<div class="content-area cell large-5 large-order-3 xxlarge-4">

  <h1 class="header-xlarge">Feedback</h1>

  <h3 class="header-medium small-margin-bottom">City Map Information</h3>

  <p class="text-small">This street information has never been so easy to access, but NYC Street Map is only a starting point for research about the City’s streets. It lacks some information on the City Map and may have inaccuracies.  All information gathered from NYC Street Map must be confirmed based on the official City Map records.</p>

  {{boro-office-contact-callout class="text-small"}}

  <h3 class="header-medium small-margin-bottom">NYC Street Map Application Feedback</h3>

  <p>To let <a href="https://twitter.com/nycplanninglabs" target="_blank" rel="noopener"><strong>Planning Labs</strong></a> know how this app could be better, <a href="https://github.com/NYCPlanning/labs-citymap/issues/" target="_blank" rel="noopener"><strong>add a GitHub Issue</strong></a>, or email <a href="mailto:streetmap@planning.nyc.gov"><strong>streetmap@planning.nyc.gov</strong></a>.</p>

  {{outlet}}
</div>
